// bower:scss
// endbower

@import "mixins";


/* core */
@import "core/pallete";
@import "core/extends";


/* modules */
@import "modules/header";
@import "modules/footer";
@import "modules/sidebar";
@import "modules/widget";
@import "modules/grid";
@import "modules/navbar";
@import "modules/slider";
@import "modules/about";
@import "modules/catalog";




@import "font-awesome/font-awesome";


/* layouts */
@import "layouts/left-aside";
@import "layouts/details";


/* include fonts */
@include font-face('HelveticaNeueCyr Medium', 'HelveticaNeueCyrMedium', 'HelveticaNeueCyr');
@include font-face('HelveticaNeueCyr Roman', 'HelveticaNeueCyrRoman', 'HelveticaNeueCyr');
@include font-face('HelveticaNeueCyr Thin', 'HelveticaNeueCyrThin', 'HelveticaNeueCyr');
@include font-face('HelveticaNeueCyr Bold', 'HelveticaNeueCyrBold', 'HelveticaNeueCyr');
@include font-face('FontAwesome', 'fontawesome-webfont', 'font-awesome');


/* ==============================================
                   DOM ELEMENTS
 ============================================== */
html {
    height: 100%;
    font-size: 15px;
}
body {
    min-height: 100%;
    min-width: 1020px;
    font: 15px/1.5em 'HelveticaNeueCyr Roman', Helvetica, sans-serif;
    color: $clr-dark;
    background: url(/images/bg.jpg) no-repeat;
    background-size: cover;
}
img {
    max-width: 100%;
}

a {
    color: $clr-blue;
}
a:hover,
a:focus {
   color: $clr-dark-blue;
   text-decoration: underline;
}

strong {
    font-family: 'HelveticaNeueCyr Bold', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'HelveticaNeueCyr Bold', sans-serif;
    line-height: 1.5em;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 22px;
}

hr {
    border: none;
    background: $middle-blue;
    height: 1px;
    margin: .7em 0;
}
input,
textarea {
    border-radius: 5px;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    color: #222;
    padding: 3px 10px;
    width: 100%;
}
input:focus,
textarea:focus {
    box-shadow: 0 0 8px 0px $middle-blue;   
    outline: none;
}


/* ==============================================
                    UNIQUES
 ============================================== */
.container {
    @extend .horizontal-padding;
    background: rgba(255, 255, 255, .7);
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}
.contact-form button {
    @extend textarea;
    background-color: $clr-blue;
    color: $clr-white;
    font-size: 1.2em;
    &:focus {
        background-color: $clr-dark-blue;
        box-shadow: 0 0 0 0;
    }
}
.widget i {
    color: $middle-blue;
}