// bower:scss
// endbower

@import "mixins";


/* core */
@import "core/pallete";
@import "core/extends";


/* modules */
@import "modules/header";
@import "modules/footer";
@import "modules/sidebar";
@import "modules/widget";
@import "modules/grid";

@import "font-awesome/font-awesome";


/* layouts */
@import "layouts/left-aside";


/* include fonts */
@include font-face('HelveticaNeueCyr Medium', 'HelveticaNeueCyrMedium', 'HelveticaNeueCyr');
@include font-face('HelveticaNeueCyr Roman', 'HelveticaNeueCyrRoman', 'HelveticaNeueCyr');
@include font-face('HelveticaNeueCyr Thin', 'HelveticaNeueCyrThin', 'HelveticaNeueCyr');
@include font-face('HelveticaNeueCyr Bold', 'HelveticaNeueCyrBold', 'HelveticaNeueCyr');
@include font-face('FontAwesome', 'fontawesome-webfont', 'font-awesome');


/* ==============================================
                   DOM ELEMENTS
 ============================================== */
html {
    height: 100%;
    font-size: 15px;
}
body {
    min-height: 100%;
    min-width: 1020px;
    font: 15px/1.5em 'HelveticaNeueCyr Roman', Helvetica, sans-serif;
    color: $clr-dark;
    background: url(/images/bg.jpg) no-repeat;
    background-size: cover;
}
img {
    max-width: 100%;
}

a {
    color: $clr-blue;
}
a:hover,
a:focus {
   color: $clr-dark-blue;
   text-decoration: underline;
}

strong {
    font-family: 'HelveticaNeueCyr Bold', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'HelveticaNeueCyr Bold', sans-serif;
    line-height: 1.5em;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 22px;
}

hr {
    border: none;
    background: $middle-blue;
    height: 1px;
    margin: .7em 0;
}
input,
textarea {
    border-radius: 5px;
    border: 1px solid $light-blue;
    box-sizing: border-box;
    color: #222;
    padding: 3px 10px;
    width: 100%;
}
input:focus,
textarea:focus {
    box-shadow: 0 0 8px 0px $middle-blue;   
    outline: none;
}

/* ==============================================
                    UNIQUES
 ============================================== */
.container {
    @extend .horizontal-padding;
    background: rgba(255, 255, 255, .7);
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}
.contact-form button {
   @extend textarea;
    background-color: $middle-blue;
    color: $clr-white;
    font-size: 1.2em;
}
.contact-form button:focus {
    background-color: $clr-white;
    color: $middle-blue;
}
.slider {
    @extend .section-default;
    background-color: $clr-white;
    height: 230px;
    position: relative;
    text-align: center;
    // height: 490px;
}
.slider__content {
    border-radius: 5px;
    border: 1px solid $light-blue;
    margin: 20px;
    padding: 10px;
}
.slider__wrapper {
    position: absolute;
}
.slider__swither {
    bottom: 20px;
    height: 185px;
    left: 20px;
    overflow: hidden;
    position: absolute;
    width: 620px;
}
.slider__nav {}
.swither__item {
    background-color: $clr-white;
    box-sizing: border-box;
    float: left;
    height: 150px;
    padding: 0px 15px;
    width: 150px;
 }
.swither__item img {
    // opacity: 0.5;
    // padding-top: 20px;
    cursor: pointer;
    height: 80%;
    transition-duration: .3s;
}
.swither__item p {
    font-size: .8em;
    line-height: 1em;
}
.nav {
    bottom: 5px;
    position: absolute;
    font-size: 1.3em;
}
.nav--next {
    right: 10px
}
.nav--prev {
    right: 35px
}
// .swither__item.active img,
// .swither__item img:hover {
//     height: 90%;
//     opacity: 1;
//     padding: 0;
//     transition-duration: .2s
// }
.item {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.item__img {
    padding: 10px;
    width: 35%;
}
.content__item {
    display: none;
}
.cost {
    @extend .section-default;
    padding: 3px 10px;
    line-height: 2.2em;
}
.widget i {
    color: $clr-orang;
}