.category  {
	display: inline-block;
	color: $clr-blue;
	
	&>a {
		border-radius: 5px;
		border: 2px solid #333;
		border-color: inherit;
		color: inherit;
		font-size: .8em;
		padding: 1px 10px;
		font-family: 'HelveticaNeueCyr Bold';
	}

	&>a:hover {
		text-decoration: none;
		color: inherit;
		box-shadow: 0px 0px 3px 0px;
	}

	@include m('cat1') {
		color: $clr-yelow-lt;
	}

	@include m('cat2') {
		color: $clr-green;
	}

	@include m('cat3') {
	color: $clr-red-lt;
	}

	@include m('cat4') {
	color: $clr-blue-lt;
	}

	@include m('cat5') {
	color: $clr-gray-m;
	}
	
}

.copyright {
	color: $clr-gray;
	display: inline-block;
}

.site-map {
	text-align: center;
	display: inline-block;
	width: 80%;
	& li {
		display: inline-block;
		width: 20%;
	}
}
.site-map li {

}