.category  {
	display: inline-block;
	color: $clr-blue;
	
	& > a {
		border-radius: 5px;
		border: 2px solid #333;
		border-color: inherit;
		color: inherit;
		font-size: .8em;
		padding: .2em 10px;
		font-family: 'HelveticaNeueCyr Bold', sans-serif;
	}

	& > a:hover {
		text-decoration: none;
		color: inherit;
		box-shadow: 0 0 3px;
	}

	@include m('cat1') {
		color: $clr-yelow-lt;
	}

	@include m('cat2') {
		color: $clr-green;
	}

	@include m('cat3') {
		color: $clr-red-lt;
	}

	@include m('cat4') {
		color: $clr-blue-lt;
	}

	@include m('cat5') {
		color: $clr-gray-m;
	}
}
.copyright {
	color: $clr-gray;
	display: inline-block;
}
.site-map {
	float: right;
	text-align: center;
	display: inline-block;
	width: 65%;
	li {
		display: inline-block;
		width: 20%;
	}
}
