.breadcrumbs {
	@extend .section-default;
	margin-bottom: 1em;

	ul {
		padding: 5px 20px;
	}

	li {
		display: inline-block;
		&:after {
			font-family: 'FontAwesome';
			content: '  \f105 ';
			color: $clr-blue;
		}
		&:last-child:after {
			display: none;
		}
	}
}