.breadcrumbs {
	border-bottom: 1px solid $clr-blue;
	margin-bottom: 15px;

	ul {
		padding: 0 10px 5px;
	}

	li {
		display: inline-block;
		&:after {
			font-family: 'FontAwesome';
			content: '  \f105 ';
			color: $clr-blue;
		}
		&:last-child:after {
			display: none;
		}
	}
}