/* ===============================
 		grid-content
================================*/
.grid {
	@include m('catalog') {
		padding: 10px;
	}

}
.content-img {
	border-radius: 5px;
	border: 1px solid $light-blue;
	padding: 10px;
}
.content {
	@include e('grid') {
		@extend .section-default;
		padding: 10px;
		box-sizing: border-box;
		h2 {
			padding: 0 20px;
		}
	}
	@include e('section') {
		@extend .inline-block-vbottom;
		height: 270px;
		margin: 10px;
		padding: 10px 10px 0 10px;
		text-align: center;
		width: 26%;
		&:hover {
			border-radius: 5px;
			box-shadow: 0 1px 7px 0 $clr-blue;
			cursor: pointer;
			text-decoration: none;
		}
	}
	@include e('img') {
		@extend .content-img;
		height: 150px;
		line-height: 17em;
		margin: 0 auto;
		// width: 150px;

		// img {
		// 	max-height: 150px;
		// 	max-width: 150px;
		// }
	}

	@include e('list') {
		@extend .section-default;
		@extend .grid--catalog;
		li {
			position: relative;
		}

	}
	@include e('list>ul') {
		margin-bottom: 20px;
	}
}
.list {
	@include e('section') {
		padding: 10px;
		margin: 10px 0;
		box-sizing: border-box;
		&:hover {
			@extend .content__section:hover;
		}
		.category {
			position: absolute;
			top: 10px;
			right: 20px;
		}
		& >a:focus,
		& >a:hover,
		& >a {
			text-decoration: none;
			color: #333;
		}

	}
	@include e('img') {
		@extend .content-img;
		width: 100px;
		vertical-align: top;
		display: inline-block;
	}
	@include e('desc') {
		display: inline-block;
		padding-left: 20px;
		width: 75%;	
		&>.category {
			float: right;
		}
		p {
			line-height: 1.4em;
			font-size: .85em;
			padding: 8px 0 0;
		}
	}
	// @include e('desc') {
	// 	p {
	// 		line-height: 1.2em;
	// 		font-size: .8em;
	// 		padding: 8px 0;
	// 	}
	// }
	@include m('title') {
		font-family: 'HelveticaNeueCyr Bold', sans-serif;
		color: $middle-blue;
	}
}
.paginator {
	text-align: center;
	li {
		@extend .inline-block-vtop;
	}
	li:hover,
	.pag--active a {
		color: $clr-orange;
		font-family: 'HelveticaNeueCyr Bold', sans-serif;
	}
	.pag--unactive a {
		color: $clr-gray;
	}
	a {
		padding: 2px 5px;
		&:hover {
			text-decoration: none;
		}
	}
}

.pag {
	@include e('first') {}
	@include e('next') {}
	@include e('prev') {}
	@include e('end') {}
	@include m('all') {
		font-size: .7em;
	}
}

.content__block {
	@extend .section-default;
		padding: 20px;
		box-sizing: border-box;
		margin-bottom: 1em;
}