/* ===============================
 		grid-content
================================*/

.grid {
	@include m('catalog') {
		@extend .section-default;
		padding: 10px;
		box-sizing: border-box;
	}

}
.content__section:hover {
    border-radius: 5px;
    box-shadow: 0 1px 7px 0 $clr-blue;
    cursor: pointer;
}
.content__section {
    
    margin: 10px;
    padding-top: 10px;
    text-align: center;
    width: 200px;
    height: 250px;
    display: inline-block;
    margin-right: -1px;
    vertical-align: bottom;

}
.content__img {
	padding: 10px;
	border: 1px solid $light-blue;
	border-radius: 5px;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 17em;
}
.content__img img {
	max-height: 150px;
	max-width: 150px;
}