/* ==============================================
                   DISPLAYINGS
 ============================================== */
.inline-block {
	display: inline-block;
	margin-right: -4px;
}
.inline-block-vtop {
	@extend .inline-block;
	vertical-align: top;
}
.inline-block-vcenter {
	@extend .inline-block;
	vertical-align: middle;
}
.inline-block-vbottom {
	@extend .inline-block;
	vertical-align: bottom;
}


/* ==============================================
                    PADDINGS
 ============================================== */
.padding {
	padding: 1rem 20px;
}
.horizontal-padding {
	padding: 0 20px;
}
.vertical-padding {
	padding: 1rem 0;
}
.padding-left {
	padding-left: 20px;
}

/* ==============================================
                    MARGINS
 ============================================== */
.margin-left {
	margin-left: 20px;
}
.margin-vertical {
	margin: 1rem 0;
}
.margin-top {
	margin-top: 1rem;
}
.margin-bottom {
	margin-bottom: 1rem;
}


.section-simple {
	background: $clr-white;
	border: 1px solid $light-blue;
	border-radius: 10px;
}

.section-default {
	@extend .section-simple;
	border-bottom: 3px solid $middle-blue;
}

.cost {
    @extend .section-simple;
    background-color: $bg-middle-blue;
    color: $middle-blue;
    font: 1.1em/3em 'HelveticaNeueCyr Bold', sans-serif;
    padding: 5px 10px;

    @include m('invert') {
    	@extend .cost;
        color: $clr-white;
        background-color: $middle-blue;
        border-color: $middle-blue;
    }
}