/* ==============================================
                   DISPLAYINGS
 ============================================== */
.inline-block {
	display: inline-block;
	margin-right: -4px;
}
.inline-block-vtop {
	@extend .inline-block;
	vertical-align: top;
}
.inline-block-vcenter {
	@extend .inline-block;
	vertical-align: middle;
}


/* ==============================================
                    PADDINGS
 ============================================== */
.padding {
	padding: 1em 20px;
}
.horizontal-padding {
	padding: 0 20px;
}
.vertical-padding {
	padding: 1em 0;
}
.padding-left {
	padding-left: 20px;
}

/* ==============================================
                    MARGINS
 ============================================== */
.margin-left {
	margin-left: 20px;
}


.section-default {
	border: 1px solid $light-blue;
	border-bottom: 3px solid #D0E0E5;
	border-radius: 10px;
}