$bg-light-yellow: #FFFFC9;
$bg-middle-blue: #D8EBFF;
$bg-slight-blue: #EEF5FD;

$light-blue: #B2C9CF;
$middle-blue: #567F8B;

$clr-dark: #333;
$clr-blue: #2d78a2;
$clr-dark-blue: #11577E;
$clr-white: #fff;
$clr-gray: #D0D0D0;
$clr-gray-m: #797979;
$clr-green: #8EDE97;
$clr-yelow-lt: #BAC30D;
$clr-red-lt: #C33D0D;
$clr-blue-lt: #0DBBC3;
