$bg-light-yellow: #FFFFC9;
$bg-middle-blue: #D8EBFF;

$light-blue: #B2C9CF;
$middle-blue: #567F8B;

$clr-dark: #333;
$clr-blue: #2d78a2;
$clr-dark-blue: #11577E;
$clr-orang: #D6553D;
$clr-white: #fff;